<link rel="stylesheet" href="{{"/css/loaders.min.css" | prepend:site.baseurl }}">
<style>
    body{
        background-color: rgb(184,247,136);
    }
    .loader{
        position: absolute;
        display: block;
        width: 50px;
        height: 50px;
        z-index: 10;
    }
</style>


<script src="{{"/js/loading.js" | prepend:site.baseurl }}"></script>
<script >
    loading.init('<div class="loader"><div class="loader-inner pacman"><div></div><div></div><div></div><div></div><div></div></div></div>');
</script>
